.background {
	overflow: hidden;

	width: 100vw;
	height: 100vh;

	.background-render {
		height: 200vh;
	}
}

.home {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	.title-container {
		text-align: right;

		display: flex;
		flex-direction: row;

		gap: 20px;

		align-items: center;

		.subtitle {
			text-align: left;
			font-size: 1.1rem;
		}
	}
}
