.title {
	font-weight: 700;
	font-size: 96px;

	letter-spacing: -1px;
	line-height: 1;
}

.title-mobile {
	font-weight: 700;
	font-size: 45px;

	letter-spacing: -1px;
	line-height: 1;
}

.title2-mobile {
	font-weight: 700;
	font-size: 70px;

	letter-spacing: -1px;
	line-height: 1;
}
